.EditVacation > form {
	width: 250px;
    border: 1px solid;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
}

.EditVacation input, .EditVacation button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.error {
    color: red;     /* Set text color to red */
    font-weight: bold; /* Set text to bold */
  }

  .current-image-preview img {
    max-width: 100%; 
    max-height: 200px; 
}


.EditVacation .btn{
margin-top: 5px;
}