.pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #2980b9;
  }
    
  .pagination button.active {
    background-color: #e74c3c; /* Set your desired color here for the active button */
  }  

/* Add this CSS to style the vacation card layout with 3 cards in a row */
.vacation-cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .vacation-card {
    width: calc(33.33% - 20px); /* Adjust the width and margin as needed */
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  